/* SPACER DIV*/

div.spacer_1 {
	background-color: transparent;
	height: 1em;
}

div.spacer_2 {
	background-color: transparent;
	height: 2em;
}

div.spacer_3 {
	background-color: transparent;
	height: 3em;
}

div.spacer_4 {
	background-color: transparent;
	height: 4em;
}

div.spacer_5 {
	background-color: transparent;
	height: 5em;
}

div.spacer_6 {
	background-color: transparent;
	height: 6em;
}

div.spacer_7 {
	background-color: transparent;
	height: 7em;
}

div.spacer_8 {
	background-color: transparent;
	height: 8em;
}

div.spacer_9 {
	background-color: transparent;
	height: 9em;
}

div.spacer_10 {
	background-color: transparent;
	height: 10em;
}