#{extends 'main.html' /}

<div class="grid_12 spacer_3">
</div>
<div id="content" class="grid_12 alpha">
	<div class="grid_8 prefix_2 alpha">
		<h1>Edit message</h1>
	</div>
	<div class="grid_8 prefix_2 alpha">
		<form action="${play.configuration.getProperty('webdashboard.url')}saveMessage" method="get">
			<!--<input id="userId" name="message.userRef" type="hidden" value="${userId}" />
			<input id="campaignId" name="messageDTO.campaignRef" type="hidden" value="${campaignDTO.cid}" />-->
			<input id="campaignId" name="campaignId" type="hidden" value="${campaignDTO.cid}" />
			<input id="messageId" name="messageDTO.msgid" type="hidden" value="${messageDTO.msgid}" />
			<input id="messageTimestamp" name="messageDTO.timestamp" type="hidden" value="${messageDTO.timestamp}" />
			<p>
				Title:
				<input id="campaignTitle" name="messageDTO.title" type="text" value="${messageDTO.title}" />
			</p>
			<p>
				Message:
				<textarea id="content" name="messageDTO.content">${messageDTO.content}</textarea>
			</p>
			<p>
				Publish in: <br />
				#{list channels, as:'channel'}
					<input id="${channel.network}" name="${channel.network}" type="checkbox" value="${channel.network}" checked="true" /> ${channel.network}: ${channel.name} <br />
				#{/list}				
			</p>
			<input type="submit" value="Save" class="button save right"/>
		</form>
	</div>
</div>

